@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.frame img{
    max-height: 55em !important;
    margin: 0;
}
.frame {
    margin:auto;
    width: 65%;
    padding: 2%;
}

@media only screen and (max-width: 860px) {
    .frame{
    padding-bottom: 11em !important;
    padding-top: 10em !important;
    }
}