@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 4px 6px -6px rgb(11, 14, 48);
    background-color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    padding: 10px;
    font-size: 1.4em;
    margin-right: 2.4em;
}

.navbar a {
    text-decoration: none;
    color:rgb(196, 162, 117);
}

.navbar a:after {
    display:block;
    content: '';
    border-bottom: double 3px rgb(11, 14, 48);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.active {
    border-bottom: 1px double rgb(11, 14, 48);
 }

.logo {
    margin: auto auto auto 4.5em;
    font-size: 2.5em;
    color: rgb(11, 14, 48);
    font-family: 'Montez', cursive;
}