.cart-wrapper {
  animation-name: cartshow;
  animation-duration: 0.2s;
}

@media only screen and (min-width: 1200px) {
  .cart-wrapper {
    width: 100%;
    position: relative;
  }
}

@keyframes cartshow {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
.checkout-btn {
  width: 60%;
  text-decoration: none;
  margin-left: 2%;
  margin-top: 2%;
  padding-right: 2%;
}
